/* 登録表示を行うブロックに関する設定 */

.registbox{
    width: 700px;
    height: 350px;
    background-color: darkturquoise;
    position: relative;
}
.registbox{
    width: 700px;
    height: 350px;
    background-color: darkturquoise;
    position: relative;
}
.backbutton{
    position:absolute;
    top:200px;
    left:800px;
    width: 200px;
}
.exebackbutton{
    position:absolute;
    top:200px;
    left:400px;
    width: 200px;
}  
