*{
    margin:0;
    padding:0;
    text-align: center;
}

.title{
    text-align:center; 
    background-color:black;
    color:white
}

a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}

a:hover{
    background-color: #1e366a;
    color:white;
}

ul, ol {
    color: #1e366a;
    border-top: solid #1e366a 1px;/*上のボーダー*/
    border-bottom: solid #1e366a 1px;/*下のボーダー*/
    padding: 0.5em 0 0.5em 1.5em;
    list-style:none;
    background-color: aliceblue;
  }
  
  ul li, ol li {
    line-height: 1.5;
    padding: 0.5em 0;
  }

  .box3 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #2c2c2f;
    background: #cde4ff;/*背景色*/
    border: dashed 2px #5b8bd0;/*点線*/
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
}
.box3 p {
    margin: 0; 
    padding: 0;
}

.box4 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #2c2c2f;
    background: #4dffa6;;/*背景色*/
    border: dashed 2px #5b8bd0;/*点線*/
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
}
.box4 p {
    margin: 0; 
    padding: 0;
}

.box5 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #2c2c2f;
    background: #a6ff4d;/*背景色*/
    border: dashed 2px #5b8bd0;/*点線*/
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
}
.box5 p {
    margin: 0; 
    padding: 0;
}

.box6 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #2c2c2f;
    background: yellow;/*背景色*/
    border: dashed 2px #5b8bd0;/*点線*/
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
}
.box6 p {
    margin: 0; 
    padding: 0;
}