.parent{
    text-align: center;
}

.relativeday{
    position: relative;
    left: 20px;
    top: -1px;
}

.relativedaytext{
    position: relative;
    left: 40px;
}

.relativesel{
    position: relative;
    top: -1px;
    right: 20px;
}

.temptext{
    position: relative;
    right: 36px;
    top: 54px;
}

.bodytemptext{
    position: relative;
    left: 64px;
    top: 10px;
}

.relativetemp{
    position: relative;
    right: 100px;
}

.relativeDo{
    position: relative;
    right: 26px;
    top: 62px;
}

.relativeButton{
    position: relative;
    right: 6px;
    top: 120px;
}

/*フォームを中央ぞろえにする*/
.centerForm{
    margin:auto;
}
.float{
    float:left;
  }
  /*
  .roll {
    animation: rollkAnime 4s linear infinite;
  }
  @keyframes rollkAnime{
     50% {
           transform: rotateY(180deg);
         }
    100% {
           transform: rotateY(360deg);
         }
  }