a{
     text-decoration: none;
}

.clear-decoration {
     border: none;  /* 枠線を消す */
     outline: none;
     background: transparent; /* 背景の灰色を消す */
 }

 button{
     background-color: transparent;
     border: none;
     cursor: pointer;
     outline: none;
     padding: 0;
     appearance: none;
}