*{
    margin:0;
    padding:0;
}

body{
    margin: auto;
    text-align: center;
}

a{
    text-decoration: none;
}
.clear-decoration {
    border: none;  /* 枠線を消す */
    outline: none;
    background: transparent; /* 背景の灰色を消す */
}

/*header{
    position: fixed;
    top: 0;
}*/


.title{
    text-align:center; 		/*文字を中央にする*/
    background-color:black;	/*背景を黒色にする*/
    color:white;		/*文字色を白にする*/
}


.positions{
    margin-left:20px;
}
